* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
p,
body,
button {
  font-family: 'Raleway', sans-serif;
  color: #373737;
}

body {
  margin: 5px;
  padding: 0;
  background-color: #f7f7f7;
}
span {
  font-size: 46px;
  text-align: center;
}
h2 {
  font-weight: 400;
  color: #235789;
}

/* css  homepage y btn general */

/* HOME  */
.home-jumbotron img {
  max-width: 100%;
}

.intro-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}
.home-features-detail {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.home-features h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.role-img-home {
  width: 150px;
  height: auto;
  margin-top: 20px;
}
.role-img-login {
  width: 150px;
  height: auto;
  margin-top: 20px;
}
.role-img-login:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.role-img-login {
  overflow: hidden;
}

/* CSS GENERAL  */

.role-img-detail {
  background-image: url('./img/logo-detail.png');
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.role-img-detail img {
  opacity: 0.3;
}

.btn {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  color: #ceb148 !important;
  text-decoration-line: none;
  border-radius: 10px;
  display: block;
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  margin: 0.5em;
  padding: 15px;
  /* min-width: 85%; */
  background: rgba(0, 0, 0, 0);
  border: 2px solid;
  border-color: #ceb148;
  transition: all 1s ease;
  position: relative;
}
.btn:hover {
  background: #ceb148;
  color: azure !important;
}
.connect-login a {
  text-decoration-line: none;
  display: inline;
  color: #235789;
}

.connect-btn {
  color: #235789;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 15px;
  border: 0;
  border: 1px solid #235789;
  border-radius: 10px;
  width: 90%;
  font-size: 1.1em;
}
.upload {
  background-color: #23588941;
  border-radius: 10px;
  display: flex;
  padding: 20px;
  margin: 15px;
}
.img-choose {
  display: inline-block;
  margin: 0 10px 0 10px;
}
.img-upload {
  background-image: url('./img/user-icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 15px;
}
.img-btn {
  color: #235789;
  background-color: #f7f7f7;
  border: 1px solid #235789;
  border-radius: 10px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.btn-nav {
  text-decoration-line: none;
  color: #235789;
  background-color: #f7f7f7;
  border: 0;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  padding: 5px 12px;
}
.btn-card {
  text-decoration-line: none;
  color: #ceb148;
  background-color: #f7f7f7;
  border: 0;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  padding: 5px 12px;
}

/* FORMULARIOS  */

form {
  margin-top: 54px;
}
.textarea-style {
  background-color: #f3f3f3;
  font-family: 'Raleway', sans-serif;
  color: #373737;
  font-size: 1.1em;
  display: block;
  border: 0;
  border-bottom: 1px solid gray;
  padding: 10px;
  width: 90%;
}
input[type='date'] {
  margin: 20px;
  padding: 5px 20%;
  height: 45px;
  line-height: 45px;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  border: 0;
  border-bottom: 2px solid #ceb148;
  text-align: center;
  background-color: #f7f7f7;
}

input[type='text'] {
  background-color: #f7f7f7;
  font-family: 'Raleway', sans-serif;
  color: #373737;
  font-size: 1.3em;
  display: block;
  border: 0;
  border-bottom: 1px solid gray;
  padding: 10px;
  width: 90%;
}

input[type='password'] {
  background-color: #f7f7f7;
  font-family: 'Raleway', sans-serif;
  color: #373737;
  font-size: 1.3em;
  display: block;
  border: 0;
  border-bottom: 1px solid gray;
  padding: 10px;
  width: 90%;
}
[type='text']:focus {
  outline: none;
  border-color: #e9bb17;
}
[type='email']:focus {
  outline: none;
  border-color: #ceb148;
}
[type='password']:focus {
  outline: none;
  border-color: #ceb148;
}

/* QuoteCard  */

.style-card {
  background-color: #f7f7f7;
  padding: 5px;
  margin: 15px;
  color: rgb(75, 9, 9);
  box-shadow: 2px 2px 2px 2px #88888880;
  font-size: 1.5em;
}
.style-card-detail {
  padding: 5px;
  margin: 10% 5%;
  box-shadow: 1px 1px 1px 2px #88888880;
  font-size: 1.5em;
}
/* .info {
  color: #ceb148;
} */

.info-card {
  color: #373737ac;
  text-decoration-line: none;
}

.style-car-info {
  color: #235789;
}
.style-card-info {
  font-size: small;
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
.section-boton {
  display: flex;
  justify-content: space-around;
}
i {
  font-family: 'Raleway', sans-serif;
  color: #373737;
}

/* Quote New  */
.search-style {
  color: #235789;
  border-radius: 5px;
  border: 1px solid #235789;
  padding: 5px 12px;
}

.search-btn {
  background-color: #235789;
  color: #f7f7f7;
  padding: 5px;
  border-radius: 8px;
}
