* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
p,
body,
button {
  font-family: 'Raleway', sans-serif;
  color: #373737;
}
body {
  margin: 5px;
  padding: 0;
  background-color: #f7f7f7;
}
span {
  font-size: 46px;
  text-align: center;
}
h2 {
  font-weight: 400;
  color: #235789;
}

/* css  homepage y btn general */
b{
  color: #ceb148;
  text-decoration-line: none;
}

/* HOME  */
.home-jumbotron img {
  width: 365px;
}

.intro-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.home-features h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.role-img-home {
  width: 150px;
  height: auto;
  margin-top: 20px;
}

/* CSS GENERAL  */

.btn {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  color: #ceb148 !important;
  text-decoration-line: none;
  border-radius: 10px;
  display: block;
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  margin: .5em;
  padding: 15px;
  /* min-width: 85%; */
  background: rgba(0, 0, 0, 0);
  border: 2px solid;
  border-color: #ceb148;
  transition: all 1s ease;
  position: relative;
}
.btn:hover {
  background: #ceb148;
  color: azure !important;
}

/* FORMULARIOS  */

form {
  margin-top: 54px;
}

input[type='date'] {
  margin: 0 auto;
  width: 80%;
  height: 45px;
  line-height: 45px;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  border: 0;
  border-bottom: 2px solid #ceb148;
  text-align: center;
  background-color: #f7f7f7;
}

input[type='text'] {
  background-color: #f7f7f7;
  font-family: 'Raleway', sans-serif;
  color: #373737;
  font-size: 1.3em;
  display: block;
  border: 0;
  border-bottom: 1px solid gray;
  padding: 10px;
  width: 90%;
}
input[type='password'] {
  background-color: #f7f7f7;
  font-family: 'Raleway', sans-serif;
  color: #373737;
  font-size: 1.3em;
  display: block;
  border: 0;
  border-bottom: 1px solid gray;
  padding: 10px;
  width: 90%;
}
[type='text']:focus {
  outline: none;
  border-color: #ceb148;
}
[type='email']:focus {
  outline: none;
  border-color: #ceb148;
}
[type='password']:focus {
  outline: none;
  border-color: #ceb148;
}

/* QuoteCard  */

.style-card {
  background-color: #f7f7f7;
  padding: 5px;
  margin: 15px;
  color: rgb(75, 9, 9);
  box-shadow: 2px 2px 2px 2px #88888880;
  font-size: 1.5em;
}
.info {
  color: #ceb148;
}

.info2 {
  color: #373737ac;
  text-decoration-line: none;
}

.style-car-info p {
  display: flex;
  justify-content: space-around;
}
